<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124964608262-donppl2rva0b9i5scldi6m4iuoa809oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124964608262-donppl2rva0b9i5scldi6m4iuoa809oj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124964608262-gn5n7j5gj1osvuo0cfcevbeof5n7g7se.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFoMibKC1F_r9paYdzhsqnqMxtc8SXAqA</string>
	<key>GCM_SENDER_ID</key>
	<string>124964608262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.jasik.momsnagging</string>
	<key>PROJECT_ID</key>
	<string>moms-nagging</string>
	<key>STORAGE_BUCKET</key>
	<string>moms-nagging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124964608262:ios:6799c204b1009ece566687</string>
</dict>
</plist>